* {
    margin: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: hsl(234, 29%, 20%);
    margin-top: 50px;
    overflow: hidden;
}
.center-white-area {
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
    width: max-content;
    border-radius: 20px;
    display: flex;
    gap: 5%;
    padding: 1%;
    flex-direction: row;
}
.left-part {
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    width: 100%;
    height: 100%;
}
.title-and--under-text {
    width: 100%;
    margin-left: 5%;
    margin-top: 6%;
    padding-bottom: 5%;
    height: 10%;
}
.title-and--under-text span {
    color: #242742;
    font-size: 290%;
    font-weight: bold;
    font-family: sans-serif;
    height: 100%;
}
.title-and--under-text p {
    padding-top: 5%;
    margin-left: 0.5%;
    height: 100%;
}
.check-marks-and-text {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 3%;
    padding-bottom: 7%;
    height: 100%;
}
.one-check-mark-and-text {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    height: 100%;
}
.one-check-mark-and-text svg {
    padding-right: 3%;
    width: 8%;
    height: 8%;
}
.email-addres {
    margin-left: 5.5%;
    margin-top: 6%;
    color: #242742;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 90%;
    padding-bottom: 3%;
}
.email-addres-and-valid-msg span {
    margin-left: 30%;
    color: #e17970;
}
.invisible {
    visibility: hidden;
}
.emailInput {
    margin-left: 5.5%;
    width: 100%;
    height: 50px;
    border-radius: 6px;
    font-size: 17px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    border-width: 1px;
    padding-left: 3%;
    background-color: transparent;
    color: black;
    border-color: #000;
}
.redEmailInput {
    background-color: #ffe8e6;
    color: #e17970;
    border-color: #e17970;               
}
.buttonClass {
    height: 70px;
    padding-top: 5%;
    margin-left: 5.5%;
    width: 100%;
    margin-top: 2%;
}
.buttonClass button {
    background-color: #232742;
    color: #ffffff;
    font-size: 90%;
    height: 100%;
    width: 100%;
    border-radius: 7px;
    cursor: pointer;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    border: none;
}
.left-part button:hover {
    background-image: linear-gradient(to right, #ff5770, #ff6741);
    transition-duration: 1s;
    box-shadow: 0px 0px 30px #ff6741;
}
.right-part {
    height: 97%;
    width: 100%;
    padding-top: 0.7%;
}
.right-part svg {
    height: 100%;
    width: 100%;
}
